body
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container
{
   max-width: 300px;
   max-height: 300px;
   position: relative;
   border-radius: 5px;
   padding: 20px 40px;
   text-align: center;
   background-color: blueviolet;
   color: #ffffff;
   font-weight: 200;
   font-style: italic;
   box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.7);
}
p
{
    margin-top: 50px;
}
img
{
    object-fit: cover;
    object-position: center;
    position: absolute;
    height: 100px;
    width: 100px;
    border-radius: 250px;
    top: -50px;
    left:50%;
    transform: translateX(-50%);

}